{% extends "base.html" %}
{% block content %}

<div class="container-xl navtop">
  {% include "flash.html" %}

  <div class="row">
    {% for a in albums %}
    <div class="col-md-4">
      <a class="custom-card" href="{{ url_for('routes.album_view', album_id=a.id) }}">
        <div class="card">
          {% if a.random_img %}
            {% set img_url = url_for('routes.photo_src', filename=a.random_img.thumb) %}
          {% else %}
            {% set img_url = url_for('static', filename='gradient.jpg') %}
          {% endif %}
          <img class="card-img-top" src="{{ img_url }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ a.name }}</h5>
            {% if a.description | length > 150 %}
              <p class="card-text">{{ a.description[:150] }}...</p>
            {% else %}
              <p class="card-text">{{ a.description }}</p>
            {% endif %}
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>

</div>

{% endblock %}