{% extends "base.html" %}
{% block content %}


<div class="container navtop">
  {% include "flash.html" %}

  <div class="row">
    <div class="col-md-3">
      <form action="{{ url_for('routes_admin.login') }}" method="POST">
        <div class="mb-3">
          <label for="pwd">Password:</label>
          <input type="text" name="pwd" class="form-control" id="pwd">
        </div>

        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>

</div>

{% endblock %}